<section class="content-header">
    <h1>
        Thêm mới bài viết
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Bài viết</a></li>
        <li><a ui-sref="posts">Danh sách</a></li>
        <li><a ui-sref="add_post" class="active">Thêm mới</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddPost" role="form" ng-submit="AddPost()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="post.Name" ng-change="GetSeoTitle()">
                        <span ng-show="frmAddPost.name.$invalid" class="has-error">Phải nhập tên bài viết</span>
                        <span ng-show="frmAddPost.name.error.maxlength" class="has-error">Tiêu đề chỉ được 256 kí tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="post.Alias">
                        <span ng-show="frmAddPost.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                        <span ng-show="frmAddPost.alias.error.maxlength" class="has-error">Tiêu đề SEO chỉ được 256 kí tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="500" name="description" ng-model="post.Description">
                        <span ng-show="frmAddPost.description.error.maxlength" class="has-error">Mô tả ngắn chỉ được 256 kí tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" name="image" ng-model="post.Image">
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                        <span ng-show="frmAddPost.image.error.maxlength" class="has-error">Hình ảnh chỉ được 256 kí tự</span>
                    </div>                   
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="post.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="tags" ng-model="post.Tags">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="post.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaDescription" ng-model="post.MetaDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="post.Status" ng-checked="post.Status"> Kích hoạt
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeflag" ng-model="post.HomeFlag" ng-checked="post.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hotflag" ng-model="post.HotFlag" ng-checked="post.HotFlag"> Bài viết hot
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="post_categories" class="btn btn-default">Huỷ</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmAddPost.$invalid">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->